bin/
obj/
build/
xmr-stak-cpu.layout
xmr-stak-cpu.depend
config-debug.txt

# netbeans project files
/nbproject/

# tmp files
*~

# merge original backup files
*.orig
/Debug/console.obj
/Debug/jpsock.obj
/Debug/jconf.obj
/Debug/executor.obj
/Debug/cpu-mining.tlog/unsuccessfulbuild
/Debug/cpu-mining.tlog/cpu-mining.lastbuildstate
/Debug/cpu-mining.tlog/CL.write.1.tlog
/Debug/cpu-mining.tlog/CL.read.1.tlog
/Debug/cpu-mining.tlog/CL.command.1.tlog
/Debug/cpu-mining.log
/Debug/webdesign.obj
/Debug/vc141.pdb
/Debug/vc141.idb
/x64/Debug/webdesign.obj
/x64/Debug/vc141.pdb
/x64/Debug/vc141.idb
/x64/Debug/soft_aes.obj
/x64/Debug/socket.obj
/x64/Debug/out.log
/x64/Debug/minethd.obj
/x64/Debug/libhwloc-5.dll
/x64/Debug/jpsock.obj
/x64/Debug/jconf.obj
/x64/Debug/httpd.obj
/x64/Debug/executor.obj
/x64/Debug/c_skein.obj
/x64/Debug/c_keccak.obj
/x64/Debug/c_jh.obj
/x64/Debug/c_groestl.obj
/x64/Debug/c_blake256.obj
/x64/Debug/cryptonight_common.obj
/x64/Debug/cpu-mining.tlog/link.write.1.tlog
/x64/Debug/cpu-mining.tlog/link.read.1.tlog
/x64/Debug/cpu-mining.tlog/link.command.1.tlog
/x64/Debug/cpu-mining.tlog/cpu-mining.lastbuildstate
/x64/Debug/cpu-mining.tlog/CL.write.1.tlog
/x64/Debug/cpu-mining.tlog/CL.read.1.tlog
/x64/Debug/cpu-mining.tlog/CL.command.1.tlog
/x64/Debug/cpu-mining.pdb
/x64/Debug/cpu-mining.log
/x64/Debug/cpu-mining.exe
/x64/Debug/cpu-mining.Build.CppClean.log
/x64/Debug/console.obj
/x64/Debug/config.txt
/x64/Debug/cli-miner.obj
/x64/Release/webdesign.obj
/x64/Release/vc141.pdb
/x64/Release/jpsock.obj
/x64/Release/jconf.obj
/x64/Release/executor.obj
/x64/Release/cryptonight_common.obj
/x64/Release/cpu-mining.tlog/unsuccessfulbuild
/x64/Release/cpu-mining.tlog/cpu-mining.lastbuildstate
/x64/Release/cpu-mining.tlog/CL.write.1.tlog
/x64/Release/cpu-mining.tlog/CL.read.1.tlog
/x64/Release/cpu-mining.tlog/CL.command.1.tlog
/x64/Release/cpu-mining.log
/x64/Release/console.obj
/.vs/xmr-stak-cpu/v15/Browse.VC.db
/.vs/xmr-stak-cpu/v15/.suo
/.vs/cpu-mining/v15/ipch/AutoPCH/e1c2a4ee99869601/CRYPTONIGHT_AESNI.ipch
/.vs/cpu-mining/v15/Browse.VC.opendb
/.vs/cpu-mining/v15/Browse.VC.db
/.vs/cpu-mining/v15/.suo
/.vs/cpu-mining/v15/ipch/AutoPCH/fc938f5c61148674/SOFT_AES.ipch
/.vs/cpu-mining/v15/ipch/AutoPCH/f8ea884704d1f59b/CLI-MINER.ipch
/.vs/cpu-mining/v15/ipch/AutoPCH/dd71dc520f3184da/EXECUTOR.ipch
/.vs/cpu-mining/v15/ipch/AutoPCH/c4ff6463f4a5daa/CONSOLE.ipch
/.vs/cpu-mining/v15/ipch/AutoPCH/90a4eb1691e60e0a/MINETHD.ipch
/.vs/cpu-mining/v15/ipch/AutoPCH/5eb53b3a58137773/JCONF.ipch
/.vs/cpu-mining/v15/ipch/AutoPCH/4e3241ae1f5df62c/AUTOADJUST.ipch
/out.log
